*.key
*.crt
*.pem
*.p12
*.p8
*.p7b
*.p7c
*.p7m
*.p7s
*.pyc
config
tmp*
ansible/hosts.ini
ansible/**/vault.yml
ansible/**/vault_*.yml
ansible/**/.env
ansible/**/htpasswd
ansible/**/certs/
ansible/**/nginx/certs/
ansible/**/env/rl-agent.env
ansible/**/redis/data/
ansible/**/kibana/dist/